# ===== Ignore Node Modules =====
server/node_modules/


# ===== Logs =====
server/npm-debug.log*
client/npm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Environment Files =====
server/.env



# ===== Build and Cache Files =====
dist/
build/
.cache/
.vercel/
.vscode/

# ===== System Files =====
.DS_Store
Thumbs.db
